.content {
    width: 100%;
    margin: auto;
}

#crop-circle p {
    color: #008148;
    font-size: 20px;
}

#crop-circle h3 {
    color: #008148;
}

#crop-circle h2 {
    color: #008148;
}

.project-btn {
    font-size: 12px;
    padding: .5rem 1.5rem;
}

@media (max-width: 767px) {
    #crop-circle p {
        font-size: 18px;
    }
}