/*--------------------   HEADER   -------------------- */
.hero__wrapper {
    display: flex;
    /* outline: 1px red solid; */
    // padding-bottom: 8rem;
    margin: auto;
    padding-top: 1rem;
}

.hero__name {
    // color: var(--clr-dark);
    font-weight: 900;
}

.heading_primary {
    font-size: var(--fs-32);
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 1.2em;
    text-transform: uppercase;
    padding: 1rem 0;
}

@media (min-width: 75.5em) {
    .heading_primary {
        font-size: var(--fs-88);
        width: 80%;
        padding-left: 1em;
    }
}

.text_primary {
    font-size: var(--fs-18);
    width: 80%;
    margin: 0;
    letter-spacing: 2px;
    // padding-bottom: 1rem;
    // justify-content: center;
}

@media (min-width: 75.5em) {
    .text_primary {
        font-size: var(--fs-32);
        padding-left: 2.8em;
    }
}

.home_cta {
    padding: 1.5em 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

@media (min-width: 75.5em) {
    .home_cta {
        padding: 5em 0;
    }
}




// ANIMATION TRIANGLE
$triangle-base: 100px;
$animation-duration: 20s;

.triangle-body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: auto;
    padding: 8rem 0;
}

.logo {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: $triangle-base * 2;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    -webkit-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}

@keyframes triangle-color {

    0%,
    33.32% {
        background-color: var(--clr-accent);
    }

    33.33%,
    66.65% {
        background-color: aqua;
    }

    66.66%,
    100% {
        background-color: gold;
    }
}

@keyframes triangle-shape {
    0% {
        background-color: aqua;
        clip-path: polygon(0% 100%, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(0% 100%, 100% 100%, 0% 100%);
    }

    33.32% {
        background-color: aqua;
        clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(50% 0, 100% 100%, 0% 100%);
    }

    33.33% {
        background-color: gold;
        clip-path: polygon(0% 100%, 50% 0%, 50% 0%);
        -webkit-clip-path: polygon(0% 100%, 50% 0%, 50% 0%);
    }

    66.65% {
        background-color: gold;
        clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
        -webkit-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    }

    66.66% {
        background-color: var(--clr-accent);
        clip-path: polygon(50% 0%, 100% 100%, 100% 100%);
        -webkit-clip-path: polygon(50% 0%, 100% 100%, 100% 100%);
    }

    100% {
        background-color: var(--clr-accent);
        clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    }
}

.triangle {
    position: relative;
    width: $triangle-base;
    height: $triangle-base * 0.87;
    background-color: aqua;
    animation: triangle-color $animation-duration infinite;
    clip-path: polygon(50% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(50% 0, 100% 100%, 0% 100%);

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        animation: triangle-shape $animation-duration infinite;
    }
}

@for $t from 1 through 4 {
    .triangle:nth-child(#{$t}) {
        @if $t==1 {
            margin: 0 $triangle-base * 0.5;
        }

        @if $t==3 {
            z-index: 1;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%) translateY(-0.5%) rotate(180deg) scale(1.02);
        }

        &,
        &::before {
            animation-delay: $t * ($animation-duration / 4) * -1;
        }
    }
}