/*--------------------   HEADER   -------------------- */
.hero__wrapper {
    display: flex;
    /* outline: 1px red solid; */
    // padding-bottom: 8rem;
    margin: auto;
    padding-top: 1rem;
}

.hero__name {
    // color: var(--clr-dark);
    font-weight: 900;
}

.heading_primary {
    font-size: var(--fs-32);
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 1.2em;
    text-transform: uppercase;
    padding: 1rem 0;
}

@media (min-width: 75.5em) {
    .heading_primary {
        font-size: var(--fs-88);
        width: 80%;
        padding-left: 1em;
    }
}

.text_primary {
    font-size: var(--fs-18);
    width: 80%;
    margin: 0;
    letter-spacing: 2px;
    // padding-bottom: 1rem;
    // justify-content: center;
}

@media (min-width: 75.5em) {
    .text_primary {
        font-size: var(--fs-32);
        padding-left: 2.8em;
    }
}

.home_cta {
    padding: 1.5em 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

@media (min-width: 75.5em) {
    .home_cta {
        padding: 5em 0;
    }
}



