  .resume {
    padding: 5rem 0;

    &-head {
      padding-right: 1.8em;
      padding-left: 1.5em;

      &__p {
        font-size: var(--fs-18);
        color: grey;
      }
    }

    &-body {
      // border: 1px red solid;
      width: 80%;
      margin: auto;
      padding-top: 1em;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      a {
        font-size: 2em;
      }


      ul {
        padding-top: 1rem;
      }

      li {
        font-size: 2em;
        list-style-type: disc;
        padding: 0.5rem;
      }

      span {
        float: right
      }

      p {
        font-size: 2em;
        padding: 0;
        margin: 0;
      }

      &__sec {
        margin-top: 2rem;
        padding-bottom: 2rem;
      }
    }

    a {
      color: var(--clr-accent);
      font-size: 2em;
    }

    a:hover {
      color: var(--clr-dark);
    }

    .resume-a {
      font-size: 1em;
    }

    .resume-btn {
      position: absolute;
      right: 7%;
      color: var(--foreground);
      font-size: 1.2em;
    }

    .resume-btn:hover {
      color: var(--background);
    }
  }

  .work {
    padding-top: 5rem;
  }

  .nimbl {
    padding-bottom: 5rem;
  }

  // RESPONSIVE
  @media (max-width: 1025px) and (min-width: 767px) {
    .resume {
      width: 100%;
    }

    .resume-head__p {
      text-align: center;
    }

    .resume h5 {
      font-size: 28px;
    }

    .nimbl {
      padding-bottom: 0;
    }
  }


  @media (max-width: 767px) {

    .resume-head {
      font-size: 40px;
      padding: 40px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-content: center;
    }

    .resume .triangle-steady::before {
      display: none;
    }

    .resume-head__p {
      text-align: center;
    }

    .resume-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      padding-bottom: 50px;
    }

    .resume h5 {
      text-align: center;
      font-size: 28px;
      padding: 0;
      margin: 0;
    }

    .resume-body__sec {
      padding: 0;
    }

    .nimbl {
      padding-bottom: 0;
    }
  }