/*--------------------   ABOUT   -------------------- */
#about {
    padding-top: 8rem;
    // border: 1px solid rgb(151, 33, 20); 
}


.about-head {
    /* border: 1px solid rgb(97, 67, 64); */
    padding-left: 1.5em;

    &__title {
        color: var(--clr-accent);
        font-size: var(--fs-24);
        padding: 0;
        margin: auto;
    }
}

.about-body {
   
    padding: 1em 0 20rem 0; 
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: auto;
    /* text-align: center; */

  &__content {
    font-size: var(--fs-20);
    // outline: 1px solid salmon;
    width: 80%;
  }

  &__p{
    text-align: center;
    font-size: var(--fs-32);
    line-height: .9;
    padding: 1rem 0;
  }
}

@media(min-width: 75.5em) {
    .about-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}


/* ------------------- HEXAGON IMAGE ---------------------- */
.hexa,
.hexa div {
    outline: 1px solid var(--clr-accent);
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 500px;
    height: 500px;
}


.hexa div {
    width: 100%;
    height: 100%;
}

.hexa {
    transform: rotate(120deg);
}

.hex1 {
    transform: rotate(-60deg);
}

.hex2 {
    transform: rotate(-60deg);
}