/*--------------------   ABOUT   -------------------- */
.about {
    width: 100%;
    padding-left: 10rem;

    &-head {
        padding-left: 1.5em;

        &__title {
            color: var(--clr-accent);
            font-size: 3.5em;
            padding: 0;
            margin: auto;
        }
    }

    &-body {
        padding: 5em 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin: auto;

        &__content {
            font-size: 2em;
            width: 80%;

            a {
                color: var(--clr-accent);
                font-size: 1em;
                font-weight: 700;
                padding-top: 1em;
            }

            a:hover {
                color: var(--clr-dark)
            }
        }

        p {
            font-size: 1.2em;
            line-height: 1.5em;
            padding: 2rem 0;
        }
    }

    &-footer {
        margin-bottom: 5rem;
        margin-top: auto;
        
        .about-btn {
            position: absolute;
            right: 2em;
            bottom: 2.5em;
        }
    }

    @media(min-width: 75.5em) {
        .about-body {
            display: grid;
            grid-template-columns: 1fr 400px;
            // gap: 1rem;
        }
    }
}

/* ------------------- HEXAGON IMAGE ---------------------- */
.hexa-container {
    display: flex;
    height: 100%;
}

.hexa,
.hexa div {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 350px;

    @media (min-width: 75em) {
        height: 400px;
    }
}

.hexa div {
    width: 100%;
    height: 100%;
}

.hexa {
    transform: rotate(120deg);
}

.hex1 {
    transform: rotate(-60deg);
}

.hex2 {
    transform: rotate(-60deg);
}