/* --------------------   HEADER   -------------------- */

a {
    text-decoration: none;
    transition: color var(--transition);
}

a:hover {
    color: var(--clr-accent);
}

.header__home {
    flex: 0 1 auto;
    margin-inline-end: auto;
}

.header__link {
    font-size: 1rem;
    line-height: 1;
    color: var(--text1);
    font-family: var(--ff-title);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 10px;
}

.header {
    position: relative;
    z-index: 1;
    box-shadow: rgba(109, 109, 114, 0.7) 0 7px 29px 0;
}

.header__port {
    font-size: 1rem;
    line-height: 1;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px 25px;
    align-items: center;
}


.header__social,
.header__home,
.header__link {
    display: inline-block;
    background: transparent;
    color: var(--foreground);
}


.menu-icon {
    display: none;
    /* Hide the hamburger icon by default */
}

@media (max-width: 1025px) {
    .menu-icon {
        display: block;
    }

    .header__links {
        display: none;
    }

    .header__links.show {
        display: flex;
        flex-direction: column;
        z-index: 12;
        width: 100%;
    }

    .header__link {
        padding: 10px;
    }
}