#projects {
    padding-top: 5rem;
}

.projects-title {
    display: flex;
    // float: right;
    // justify-items: end;
    padding-left: 1.5em;
}

.projects-card {
    width: 100%;
    // border: 1px solid black;
    height: 40rem;
    display: grid;
    padding: 5rem 1rem;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    &__title {
        color: var(--clr-accent);
        padding: 2rem 0;
        font-size: var(--fs-40);
        margin: 0;
    }

    &__subtitle {
        font-size: var(--fs-24);
        padding: 2rem 0;
        margin: 0;
    }

    &__para {
        font-size: var(--fs-18);
    }
}

.projects-column__image {
    margin: auto;
    // border: 1px solid var(--clr-accent);
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;

    a {
        //  border: 2px solid green;
        display: flex;
        justify-content: center;
        align-content: center;
    }
}

.projects-column__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    // border: 1px solid var(--clr-accent);
    height: 100%;
}

.right-start {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
}

.skills__skill.small {
    padding: .5rem;
    font-size: 1rem;
}

.link {

    h6 {
        color: var(--clr-dark);
        color: var(--foreground);
    }

    p {
        color: var(--clr-dark);
        color: var(--foreground);
    }
}

.btn {
    background-color: var(--background);
}
