.contact-header {
    padding-left: 1.5em;
}

.card {
    border: 1px solid #b13636;
    width: 60%;

    &-head {
        padding: 0;
        margin: 0;
        text-transform: uppercase;
    }
}

.contact-form {
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #a57d7d;
    border-radius: 5px;
}

.contact-form form {
    border: 1px solid #be3333;
    display: grid;
    grid-gap: 10px;
}

.contact-form label {
    border: 1px solid #a83232;
    display: block;
    font-size: var(--fs-24);
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 1rem;
    font-size: var(--fs-18);
    border: none;
    /* background-color: var(--clr-light); */
}


.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;

}

.to-top {
    padding: 1.5rem;
    border-radius: 5%;
    opacity: .5;
}