.container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    justify-content: center;
    margin: 6rem auto;
}

.material-icons {
    color: var(--clr-accent);
    width: 10rem;
    padding: 0;
    margin: 0;
}


.container span {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    color: var(--clr-accent);
    line-height: 1.5;
    font-family: var(--ff-body);
}

.chevron-down {
    fill: #0e0e0e;
    margin: auto;
    animation: hover-me .5s infinite ease-in-out alternate;
}

.backToTop:hover {
    cursor: pointer;
}

@keyframes hover-me {
    100% {
        transform: translate3d(0, 25px, 0);
    }
}